/* styles.css */

/* Darkmode-Theme */
body.dark-mode {
    background-color: #333333;
    color: #f2f2f2;
}

/* Darkmode-Toggle-Knopf */
#dark-mode-toggle {
    padding: 10px 20px;
    margin-top: 25px;
    background-color: #2eb82e;
    color: #fff;
    border: none;
    cursor: pointer;
    text-align: center;
}

/* Main Content */
main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Absätze */
p {
    color: #666666;
}

/* Darkmode-Aktions */
body.dark-mode p,
body.dark-mode h2 {
    color: #f2f2f2;
}

body.dark-mode h1 {
    color: #b2ecb2;
}

/* Seitenhintergrund */
body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Überschriften */
h1,
h2 {
    color: #333333;
    text-align: center;
    margin-top: 50px;
}

/* Absätze */
p {
    color: #666666;
    text-align: center;
}

/* Links */
a {
    color: #2eb82e;
    text-decoration: none;
}

a:hover {
    color: #226e22;
    text-decoration: underline;
}

/* Container für Social Media Links und Kontaktinformationen */
.social-links,
.contact-info,
.demo-date {
    text-align: center;
    margin-top: 30px;
}